@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

@import "tailwindcss";

@layer base {
    body {
        font-family: 'Nunito Sans', sans-serif !important;
        font-weight: 400;
    }
    h1, h2, h3, h4, h5, h6, strong {
        font-weight: 600;
    }
    strong {
        color: #000000;
    }
}

html {
    scroll-behavior: smooth;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}